[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
doit = "*"
build = "*"
pycodestyle = "*"
flake8 = "*"
pyflakes = "*"
pydocstyle = "*"
babel = "*"
pytest = "*"
sphinx = "*"

[dev-packages]
autodoc = "*"
pybabel = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
